
:root {
  --yellow:#EAC926;
  --blue: #03264C;
  --light-blue: #1259c3;
  --gray-dark: #666;
  --gray-light: #ebebeb;
  --green: #39b54a;
}


body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--gray-light);
}

.mitadDe {
    width: 50%;
}

.blue-icon {
    color: var(--light-blue);
}

.banner {
    display: block;
}

.green-icon {
    color: var(--green);
    background-color: white;
    border-radius: 50%;
    border: 1px solid #39b54a;
    padding: 5px;

    text-align: right;
}

.margin0 {
    margin: 0%;
} 

.productos {
    background-color: white;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-direction: column;

}
header {
    background-color: var(--yellow);
    margin-bottom: 0;
}

.banner {
    display: block;
}

.hamburger {
    font-size: 20px;
    width: 40px;
    height: 20px;
    background-color: #0044aa;
    color: white;
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.botonMenu {
    text-align: center;
    margin-top: 20px;
    height: 60px;
}

.menu {
    display: none;
}

.botonMenu:hover + .menu {
    display: block;
}

.fa-search {
    background-color: var(--yellow);
    border: 0.5px none;
}

.parrafo {
    font-size: 12px;
    display: flex;
    height: 50%;

}

.titulares {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
    text-align: center;
    display: flex;
}

.precios {
    font-size: 18px;
    font-weight: bold;


}

.descuentos{
    font-size: 16px;
    color: var(--green);
    align-self: flex-end;

}

.descripciones {
    font-size: 16px;
    font-weight: bold;
}


.condiciones {
    margin-top: 20px;
    margin-bottom: 20px;
}

.piePagina {
    padding: 20px 5%;
}

.contenedor {
    display: flex;
    flex-direction: row;

}

.w-100 {
    width: 100%;
}

.cuotas {
    display: flex;
    align-items: center;
    height: 50%;
    margin: 0;
}

.margin0 {

    margin: 0% 10px;
}

.cajaProductos {
    display: flex;
    border-top: 1px solid #ebebeb;
    flex-direction: column;
    position: relative;
    margin-top: -11px;
}

.precio-desc {
    flex-direction: row;
    display: flex;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.camion {
 text-align: right;
}

/* Mobile */

@media (min-width: 361px) {



}


/* Desktop */

@media (min-width: 769px) {




}
/* justify-content: flex-end flex-start center space-around space-between
align-items: flex-end flex-start center baseline stretch
flex-direction: row row-reverse column column-reserve
order: 1, 2, -1, 1 (items individuale)
align-self: flex-end flex-start center baseline stretch
flex-wrap: wrap nowrap wrap-reverse
flex-flow: direction and wrap
align-content: flex-end flex-start center baseline stretch  */