.margin {
    margin-top: 20px;
    padding-right: 10px;
    border-radius: 5px;
    width: 100%;
    display: inline-block;
}

#comprador {
    float: left;
}

.opcionUsuario {
    margin-top: 0%;
}

.tituloRegistro {
    font-weight: bold;
    font-family: arial;
}

.opcionInteres {
    float: left;
    margin-bottom: 20px;
    margin-top: 0%;
}

#jugueteria {
    margin-bottom: 20px;
    margin-top: 0%;
}

#enviar {
    float: left;
    width:100%;
}

#borrar {
    width: 100%;
}

.ancho100 {
   
    border-radius: 5px;
    padding: 10px;
    border-width: 0px;
    margin-bottom: 20px;

}
.w-90 {
    width: 94%;
}

.w-100 {
    width: 95%;
}

.padding10 {
    padding: 10px;
}

.botonEnviar {
    color: white;
    background-color: #0044AA;
    width: 100%;
}



.rojo {
    background-color: red;
}

#nombre {
    width: 100%;
}

#nombreApellido {
    width: 100%;

}

.intereses {
    display: flex;
    flex-direction: column;
}

.datos-usuario {
    display: flex;
    flex-direction: column;
}

.opciones-tipo-usuario {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}
